{
	"root": true, // let eslint picks up the config at the root of the directory
	"parser": "@typescript-eslint/parser",
	//  The @typescript-eslint/parser is specifically designed to parse TypeScript code.
	"plugins": ["prettier", "@typescript-eslint", "simple-import-sort"],
	// This configuration is used to specify how ESLint should parse JavaScript
	//  code in your project.
	"parserOptions": {
		//   "project": true, //TypeScript will analyze all TypeScript files in your project
		"ecmaVersion": "latest",
		"sourceType": "module", // allows using import/export statements
		"ecmaFeatures": { "jsx": true } // enable JSX since we are using React,
	},
	"settings": {
		"react": { "version": "detect" } // version not speified
	},
	"env": {
		"browser": true, // enables browser globals like window and document
		"node": true, // enables Node.js global variables and Node.js scoping.
		"jest": true // enables unit-testing
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended", // react hooks
		"plugin:prettier/recommended" // make this the last element so prettier config overrides other formatting rules
	],
	"rules": {
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-var-requires": "off",
		"react/prop-types": "off",
		// overridding edlint rule
		"react/react-in-jsx-scope": "off", // React 17 | cause: No React import in files
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"no-console": "warn", // Show a warning for console statements
		// "react/no-array-index-key": "error", // for map
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	}
}
